<div  fxFlexFill class="layout">
    <div>
        <div class="toolbar">
            <div class="left-icons">
                <img src="../../../assets/images/education.png" class="logo-img">
                <h1>Bookstore</h1>
                <div><input matInput placeholder="Search" class="search-box"></div>
            </div>
            <div class="right-icons">
                <button mat-button class="profile-img">
                    <div class="btn-content">
                        <img src="../../../assets/images/person_outline_white_24dp.svg" style="width: 24px;">
                        <label class="label">Profile</label>
                    </div>
                </button>
                <button mat-button class="cart-img">
                    <div class="btn-content">
                        <img src="../../../assets/images/shopping_cart_white_24dp.svg" style="width: 24px;">
                        <label class="label">Cart</label>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
